<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>
  <div class="dashboard">
    <h2>Admin Dashboard</h2>

    <a href="/results">
      <button>View Polls</button>
    </a>
    <a href="/logout" onclick="return confirm('Are you sure you want to logout?')">
      <button>Logout</button>
    </a>
    <a href="/admin/create_poll">
      <button>Create Poll</button>
    </a>
  </div>
</body>
</html>
